<!DOCTYPE html>
<html>
  <head>
    <title>Dashboard - Feuille de présence</title>
    <link rel='stylesheet' href='/presence/stylesheets/style.css' />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
  </head>
  <body>

      <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0">
        <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">Feuille de présence</a>
        <ul class="navbar-nav px-3">
          <li class="nav-item text-nowrap">
            <a class="nav-link" href="/">Déconnecter</a>
          </li>
        </ul>
      </nav>
  
      <div class="container-fluid">
        <div class="row">
          <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
              <ul class="nav flex-column">
                <li class="nav-item">
                  <a class="nav-link active" href="#">
                    <span data-feather="home"></span>
                    PDF <span class="sr-only">(current)</span>
                  </a>
                </li>
              </ul>
            </div>
          </nav>
  
          <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
            <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
              <h1>Signer le PDF</h1>
            </div>
            <form action="/signer" method="POST">
              <div class="btn-group btn-group-toggle" data-toggle="buttons">
                <% if(today.getDay() == 1 || today.getDay() == 0) { %>
                  <% if(today.getHours() < 12 && today.getHours() > 8) { %>
                <label class="btn btn-primary active">
                  <input type="checkbox" name="options" autocomplete="off"> Lundi Matin
                </label>
                <% } %>
                <% if(today.getHours() > 13 &&  today.getHours() < 16) { %>
                <label class="btn btn-primary">
                  <input type="checkbox" name="options" autocomplete="off"> Lundi Aprem
                </label>
                <% } %>
                <% } %>
                <% if(today.getDay() == 2 || today.getDay() == 0) { %>
                  <% if(today.getHours() < 12 && today.getHours() > 8) { %>
                <label class="btn btn-primary active">
                  <input type="checkbox" name="options" autocomplete="off"> Mardi Matin
                </label>
                <% } %>
                <% if(today.getHours() > 13 &&  today.getHours() < 16) { %></16>
                <label class="btn btn-primary active">
                  <input type="checkbox" name="options" autocomplete="off"> Mardi Aprem
                </label>
                <% } %>
                <% } %>
                <% if(today.getDay() == 3 || today.getDay() == 0) { %>
                  <% if(today.getHours() < 12 && today.getHours() > 8) { %>
                <label class="btn btn-primary">
                  <input type="checkbox" name="options" autocomplete="off"> Mercredi Matin
                </label>
                <% } %>
                <% if(today.getHours() > 13 &&  today.getHours() < 16) { %></16>
                <label class="btn btn-primary active">
                  <input type="checkbox" name="options" autocomplete="off"> Mercredi Aprem
                </label>
                <% } %>
                <% } %>
                <% if(today.getDay() == 4 || today.getDay() == 0) { %>
                  <% if(today.getHours() < 12 && today.getHours() > 8) { %>
                <label class="btn btn-primary active">
                  <input type="checkbox" name="options" autocomplete="off"> Jeudi Matin
                </label>
                <% } %>
                <% if(today.getHours() > 13 &&  today.getHours() < 16) { %></16>
                <label class="btn btn-primary active">
                  <input type="checkbox" name="options" autocomplete="off"> Jeudi Aprem
                </label>
                <% } %>
                <% } %>
                <% if(today.getDay() == 5 || today.getDay() == 0) { %>
                  <% if(today.getHours() < 12 && today.getHours() > 8) { %>
                <label class="btn btn-primary">
                  <input type="checkbox" name="options" autocomplete="off"> Vendredi Matin
                </label>
                <% } %>
                <% if(today.getHours() > 13 &&  today.getHours() < 16) { %></16>
                <label class="btn btn-primary active">
                  <input type="checkbox" name="options" autocomplete="off"> Vendredi Aprem
                </label>
                <% } %>
                <% } %>
              </div>
              <button type="submit" class="btn btn-primary">Signer</button>
            </form>
              
          </main>
        </div>
      </div>
    
  </body>
</html>